---
import '../styles/global.css';
---

<html lang="en">
        <head>
                <meta charset="utf-8" />
                <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
                <meta name="viewport" content="width=device-width" />
                <meta name="generator" content={Astro.generator} />
                <title>Astro</title>
        </head>
        <body>
								<div class="top-0 mt-0 mr-0 ml-0 mb-5 border-0 bg-gray-400 h-20 p-5 content-center sticky">
										<ul class="flex gap-5 content-center min-w-full text-lg font-bold m-0">
											<li><a href="/">Home</a></li>
											<li><a href="/info">Info</a></li>
											<li><a href="https://www.divulgandociencia.com/">dC</a></li>
										</ul>
								</div>
								<div class="h-screen w-screen flex flex-col">
									
								</div>
        </body>
</html>
